<nav class="mt-3">
  <div class="d-flex justify-content-end" *ngIf="!authService.loggedIn; else loggedOut">
    <button mat-raised-button color="primary" class="mr-3" routerLink="/auth/login">Войти</button>
    <button mat-raised-button color="primary" routerLink="/auth/register">Регистрация</button>
  </div>
  <ng-template #loggedOut>
    <div class="d-flex justify-content-between">
      <span *ngIf="user">Добро пожаловать, {{ user.name }}!</span>
      <button mat-raised-button color="primary" class="mr-3" (click)="authService.logout()">Выйти</button>
    </div>
  </ng-template>
</nav>
