<app-storage-bar></app-storage-bar>
<div class="d-flex row">
  <div class="d-flex flex-column col-xl-2 col-lg-3 col-md-3 col-sm-3">
    <app-areas class="border-bottom border-right"></app-areas>
    <app-available-storage class="border-right"></app-available-storage>
  </div>
  <div class="d-flex p-2 row col-9 justify-content-start">
    <ng-container *ngFor="let object of childObjects">
      <ng-container *ngIf="currentUser && currentUser['userId'] === object['userId'] || object['read']">
        <app-object-card (click)="selectObject(object)" class="col-sm-12 col-md-6 col-xl-4 mt-2 mb-2 fit-height fit-width"
                         [object]="object"></app-object-card>
      </ng-container>
    </ng-container>
  </div>
</div>
